apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      name: hello-world-deployment
  template:
    metadata:
      labels:
        name: hello-world-deployment
    spec:
      containers:
      - name: hello-world
        image: hashicorp/http-echo:0.2.3
        args:
        - "-text=Hello, World"
        ports:
        - containerPort: 5678
